
body{
    font-family:  "DejaVu Sans Mono", sans-serif;
    user-select: none;
}
#tooltip-display{
    text-align: center;
    font-size: 1.8em;
    padding: 0.5em;
}
#button-holder{
    display:flex;
    flex-wrap: wrap;
}
#button-holder > button{
    font-family:  "DejaVu Sans Mono", sans-serif;
    width:2em;
    font-size:1.2em;
    background-color: #19232d;
    margin:0.1em;
}
.stack-function-button {
    color:#d1daec;
}
.monadic-function-button{
    color: #95d16a;
}
.dyadic-function-button{
    color:#54b0fc;
}
.modifier1-button{
    color:#f0c36f;
}
.modifier2-button{
    color:#cc6be9;
}
.noadic-function-button{
    color:#ed5e6a;
}
.stack-function-button{
    color:#aadaec;;
}
.misc-function-button{
    color:lightgray;
}
.trans{
    background-image: linear-gradient(180deg, #5BCEFA 29%, #F5A9B8 29%, #F5A9B8 43%, #FFFFFF 43%, #FFFFFF 57%, #F5A9B8 57%, #F5A9B8 71%, #5BCEFA 71%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.flbr {
    flex-basis: 100%;
    height: 0;
}